.main{
    background-color: #000000;
    /* background-color: #ffffff; */
    min-height: 100vh;
        background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
 
}

.icon:hover {
    fill: #b3b3b3;
  }

.icon{
    fill: #ffffff
    /* fill: #000000; */
    
}

.controlBtn{
    width: 1.5rem;
}